<div class="container">

    <h3 class="titulo">LOG IN</h3>

    <form class="form"  id="form">
        <div class="user">
        <label for="usuario">User</label>
        <input type="text" name="usuario" id="usuario" >
        </div>


        <div class="clave">
        <label for="contraseña">Password</label>
        <input type="password" name="contraseña"  id="pass" >
        </div>

        <div class="cajaboton">
        <input type="submit" value="Enter" >
        </div>

        <div class="info">
        <p> You don´t have an account? <a href="registrarse">Sign up</a></p>
        <p>Don't remember the password? <a href="#">Enter here</a></p>
        </div>

    </form>
</div>